*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --navbar-p: clamp(0.5rem, 5vw, 1rem);
  --navbar-links-gap: clamp(0.1rem, 5vw, 0.5rem);
  --navbar-links-fs: clamp(0.5rem, 5vw, 1.5rem);
  --navbar-logo-fs: calc(var(--navbar-links-fs) * 0.6);
  --navbar-logo-ls: calc(var(--navbar-logo-fs) * 0.17);
  --homepage-left-text-gap: clamp(0.75rem, 10vw, 7rem);
  --homepage-left-text-fs: clamp(0.75rem, 5vw, 2rem);
  --homepage-left-text-fs-big: clamp(1rem, 7vw, 3rem);
  --color-theme-main: #ffe4e6;
  --card-width: clamp(15rem, 80vw, 25rem);
  --card-height: clamp(20rem, 80vw, 30rem);
  --carousel-card-gap: clamp(1rem, 5vw, 3rem);
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
}

#root {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navBar {
  padding: var(--navbar-p);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navBar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--navbar-links-gap);
}

.navBar a {
  text-decoration: none;
  color: inherit;
  font-size: var(--navbar-links-fs);
}

.logo {
  font-size: var(--navbar-logo-fs);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.logo > p {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: var(--navbar-logo-ls);
}

.cart {
  display: flex;
  justify-content: flex-end;
  font-size: var(--navbar-links-fs);
}

main {
  padding-inline: var(--navbar-p);
  padding-bottom: var(--navbar-p);
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.homePage {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.leftHome,
.rightHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--homepage-left-text-gap);
  padding-right: 0;
  position: relative;
}

.leftHome {
  padding: calc(var(--navbar-p) * 5);
  background-color: var(--color-theme-main);
  font-size: var(--homepage-left-text-fs);
}

.emptyBox {
  position: absolute;
  aspect-ratio: 1 / 1;
}

.leftHome > .emptyBox:first-of-type,
.rightHome > .emptyBox:first-of-type {
  width: var(--homepage-left-text-fs);
}

.leftHome > .emptyBox:nth-of-type(2),
.rightHome > .emptyBox:nth-of-type(2) {
  width: var(--homepage-left-text-fs-big);
}

.leftHome > .emptyBox:first-of-type {
  left: 0;
  top: 0;
  background-color: white;
}

.leftHome > .emptyBox:nth-of-type(2) {
  left: var(--homepage-left-text-fs);
  top: var(--homepage-left-text-fs);
  background-color: white;
}

.leftHome > p:nth-of-type(2) {
  font-size: var(--homepage-left-text-fs-big);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: calc(var(--homepage-left-text-fs-big) * 0.2);
}

.leftHome > a {
  display: flex;
  align-items: center;
  gap: calc(var(--homepage-left-text-fs) * 0.2);
  width: fit-content;
  padding: var(--navbar-p);
  background-color: black;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.rightHome {
  padding: calc(var(--navbar-p) * 2);
}

.homePage-model {
  border: calc(var(--navbar-p) * 0.35) solid var(--color-theme-main);
  padding: calc(var(--navbar-p) * 0.2);
  width: 100%;
  height: auto;
}

.homePage-model.displayed {
  display: block;
}

.homePage-model.notDisplayed {
  display: none;
}

.rightHome > .emptyBox {
  background-color: var(--color-theme-main);
}

.rightHome > .emptyBox:first-of-type {
  right: 0;
  bottom: 0;
}

.rightHome > .emptyBox:nth-of-type(2) {
  right: var(--homepage-left-text-fs);
  bottom: var(--homepage-left-text-fs);
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: flex;
  gap: var(--carousel-card-gap);
}

.card {
  border-radius: 0.5rem;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.card > p {
  background-color: black;
  font-weight: 600;
  color: white;
  padding: calc(var(--navbar-p) * 0.75);
}

@media screen and (min-width: 700px) {
  .homePage {
    flex-direction: row;
  }
  .carousel {
    width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .navBar > ul {
    flex-direction: row;
  }
  .carousel {
    width: 80%;
  }
}
