*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --navbar-p: clamp(0.5rem, 5vw, 1rem);
  --navbar-links-gap: clamp(0.1rem, 5vw, 0.5rem);
  --navbar-links-fs: clamp(0.5rem, 5vw, 1.5rem);
  --navbar-logo-fs: calc(var(--navbar-links-fs) * 0.6);
  --navbar-logo-ls: calc(var(--navbar-logo-fs) * 0.17);
  --homepage-left-text-gap: clamp(0.75rem, 10vw, 7rem);
  --homepage-left-text-fs: clamp(0.75rem, 5vw, 2rem);
  --homepage-left-text-fs-big: clamp(1rem, 7vw, 3rem);
  --color-theme-homePage: #ffe4e6;
  --color-theme-productPage: #fef3c7;
  --color-theme-cartPage: #d1fae5;
  --star-fill: #fbbf24;
  --active-link-border-bottom: clamp(0.0625rem, 10vw, 0.375rem);
  --card-width: clamp(15rem, 80vw, 25rem);
  --card-height: clamp(20rem, 80vw, 30rem);
  --carousel-card-gap: clamp(1rem, 5vw, 3rem);
  --cart-item-right-fs: clamp(0.4rem, 5vw, 2rem);
  --color-theme-error: #e11d48;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
}

#root {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  pointer-events: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navBar {
  padding: var(--navbar-p);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navBar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--navbar-links-gap);
}

.navBar a {
  color: inherit;
  font-size: var(--navbar-links-fs);
}

.logo {
  font-size: var(--navbar-logo-fs);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.logo > p {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: var(--navbar-logo-ls);
}

.cart {
  display: flex;
  justify-content: flex-end;
  font-size: var(--navbar-links-fs);
}

main {
  padding-inline: var(--navbar-p);
  padding-bottom: var(--navbar-p);
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.homePage {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.leftPage,
.rightPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--homepage-left-text-gap);
  padding-right: 0;
  position: relative;
}

.leftPage {
  padding: calc(var(--navbar-p) * 5);
  background-color: var(--color-theme-homePage);
  font-size: var(--homepage-left-text-fs);
}

.emptyBox {
  position: absolute;
  aspect-ratio: 1 / 1;
}

.leftPage > .emptyBox:first-of-type,
.rightPage > .emptyBox:first-of-type {
  width: var(--homepage-left-text-fs);
}

.leftPage > .emptyBox:nth-of-type(2),
.rightPage > .emptyBox:nth-of-type(2) {
  width: var(--homepage-left-text-fs-big);
}

.leftPage > .emptyBox:first-of-type {
  left: 0;
  top: 0;
  background-color: white;
}

.leftPage > .emptyBox:nth-of-type(2) {
  left: var(--homepage-left-text-fs);
  top: var(--homepage-left-text-fs);
  background-color: white;
}

.leftPage > p:nth-of-type(2) {
  font-size: var(--homepage-left-text-fs-big);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: calc(var(--homepage-left-text-fs-big) * 0.2);
}

.leftPage > a {
  display: flex;
  align-items: center;
  gap: calc(var(--homepage-left-text-fs) * 0.2);
  width: fit-content;
  padding: var(--navbar-p);
  background-color: black;
  color: white;
  white-space: nowrap;
}

.rightPage {
  padding: calc(var(--navbar-p) * 2);
}

.homePage-model {
  border: calc(var(--navbar-p) * 0.35) solid var(--color-theme-homePage);
  padding: calc(var(--navbar-p) * 0.2);
  width: 100%;
  height: auto;
}

.homePage-model.displayed {
  display: block;
}

.homePage-model.notDisplayed {
  display: none;
}

.rightPage > .emptyBox {
  background-color: var(--color-theme-homePage);
}

.rightPage > .emptyBox:first-of-type {
  right: 0;
  bottom: 0;
}

.rightPage > .emptyBox:nth-of-type(2) {
  right: var(--homepage-left-text-fs);
  bottom: var(--homepage-left-text-fs);
}

.productPage {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  overflow: hidden;
  position: relative;
}

.productPage > .leftPage,
.productPage > .rightPage,
.cartPage > .leftPage,
.cartPage > .rightPage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.productPage > .leftPage {
  background-color: var(--color-theme-productPage);
}
.productPage > .rightPage > .emptyBox {
  background-color: white;
}

.productPage > p {
  margin-top: min(5%, 2rem);
  font-family: "Bebas Neue", sans-serif;
  font-size: var(--homepage-left-text-fs-big);
  text-align: center;
  color: white;
  white-space: nowrap;
}

.carousel {
  height: fit-content;
  width: 95%;
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: flex;
  gap: var(--carousel-card-gap);
  padding: var(--navbar-p);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.1vw rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.card > .item-info,
.card > .item-image {
  pointer-events: none;
}

.item-info {
  padding: calc(var(--navbar-logo-fs) * 0.4);
}

.item-info > p {
  font-size: var(--navbar-logo-fs);
}

.item-image {
  display: grid;
  place-items: center;
}

.item-image > img {
  width: 95%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.item-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: calc(var(--navbar-logo-fs) * 0.4);
}

.item-actions > a,
.item-actions > .addToCart-btn {
  display: grid;
  height: max(80%, 2rem);
  place-items: center;
  padding: calc(var(--navbar-logo-fs) * 0.75);
  width: fit-content;
  font-size: calc(var(--navbar-p) * 0.8);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: calc(var(--navbar-p) * 0.2);
  background-color: black;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: min(10%, 0.4rem);
}

.productDetail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.productDetail > .leftPage,
.productDetail > .rightPage .emptyBox {
  background-color: var(--color-theme-productPage);
}

.productDetail > .leftPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--carousel-card-gap);
}

.productDetail > .leftPage > p:nth-last-of-type(2) {
  display: flex;
  align-items: center;
  gap: var(--navbar-links-gap);
  > svg {
    fill: var(--star-fill);
  }
}

.productDetail > .leftPage > p:last-of-type {
  text-align: justify;
}

.productDetail > .rightPage {
  background-color: white;
}

.productDetail > .rightPage .emptyBox:last-of-type {
  position: absolute;
  width: var(--homepage-left-text-fs);
  background-color: var(--color-theme-productPage);
  bottom: 0;
  right: 0;
}

.productDetail > .rightPage > .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: var(--navbar-links-gap);
  place-items: center;
}

.productDetail > .rightPage img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: 0.3s;
}

.addToCart-btn,
.cart-item-remove {
  padding: var(--navbar-logo-fs);
  width: fit-content;
  font-size: var(--navbar-p);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: calc(var(--navbar-p) * 0.2);
  background-color: black;
  color: white;
  white-space: nowrap;
  margin: 0 auto;
  cursor: pointer;
}

.productDetail > .rightPage:has(img:hover) img:not(:hover) {
  width: 90%;
  opacity: 0.3;
}

.cartPage {
  flex-grow: 1;
  position: relative;
}

.cartPage > .rightPage {
  background-color: var(--color-theme-cartPage);
  z-index: -10;
}

.cartPage > .leftPage {
  background-color: transparent;
}

.cartPage .emptyBox {
  background-color: white;
}

.cart-empty {
  margin-top: min(20%, 2.5rem);
  color: white;
  text-align: center;
  font-size: var(--homepage-left-text-fs-big);
}

.cart-items {
  margin: min(15%, 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--carousel-card-gap);
}

.cart-item {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.cart-item-left {
  padding: min(1%, 0.5rem);
  max-width: 20rem;
}

.cart-item-left > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.cart-item-right {
  padding: var(--navbar-p);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--carousel-card-gap) * 0.5);
  font-size: var(--cart-item-right-fs);
  white-space: nowrap;
}

.cartItemQuantity,
.cartItemQuantity-buttons {
  display: flex;
  align-items: center;
}

.cartItemQuantity {
  gap: calc(var(--carousel-card-gap) * 0.5);
}

.cartItemQuantity-buttons {
  gap: calc(var(--carousel-card-gap) * 0.25);
}

.cart-total {
  font-size: var(--cart-item-right-fs);
  font-weight: 600;
}

.error {
  font-size: var(--homepage-left-text-fs-big);
  text-align: center;
  margin-top: min(15%, 3rem);
  color: var(--color-theme-error);
}

@media screen and (min-width: 600px) {
  .cart-item {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .cart-item-right {
    font-size: calc(var(--cart-item-right-fs) * 0.7);
  }
  .cart-item-remove {
    font-size: calc(var(--navbar-p) * 0.7);
  }
}
@media screen and (min-width: 700px) {
  .homePage,
  .productDetail {
    flex-direction: row;
  }
  .carousel {
    width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .navBar > ul {
    flex-direction: row;
  }
  .carousel {
    width: 80%;
  }
  .productPage > p {
    letter-spacing: calc(var(--homepage-left-text-fs-big) * 0.2);
  }
}
